h1 {
    font-family: cursive;
    font-size: 3.5rem;
    margin-left:400;
    color:lightgreen
}
h2{
    font-family: cursive;
    font-size: 2.5rem;
    margin-left:150;
    color:lightgreen
}
h3{
    font-family: cursive;
    font-size: 2.0rem;
    margin-left:120;
    color:bisque
}
img{
    margin-left:500;
    flex-direction: column;
}
p{
    font-size:2.5rem;
    margin-left:400;
    color:aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image:url("https://i.pinimg.com/1200x/f4/66/85/f46685b01fe4362f69e8c93daabd3c26.jpg")
}
button{
    font-size: 4.5rem;
    margin-left: 200;
    padding:10px;
    background-color:darkolivegreen
}
button:hover{
    font-size: 4.5rem;
    margin-left: 200;
    padding:10px;
    background-color:sienna
}